# Udemy Courses Data

# Working on Real-Time Project with Python on  'Udemy Courses Datasets'
(A Part of Big Data Analysis)

This data set contains all courses data for all subjects
We will analysis this data using the Pandas Library
Here, the questions are given for the practice for the learning purpose

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [5]:
data=pd.read_csv(r'D:\DA-2023\DATA LOVERS PROJECT\7. Udemy Courses.csv')
data

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,288942,#1 Piano Hand Coordination: Play 10th Ballad i...,True,35,3137,18,68,All Levels,1.5 hours,2014-09-18T05:07:05Z,Musical Instruments
1,1170074,#10 Hand Coordination - Transfer Chord Ballad ...,True,75,1593,1,41,Intermediate Level,1 hour,2017-04-12T19:06:34Z,Musical Instruments
2,1193886,#12 Hand Coordination: Let your Hands dance wi...,True,75,482,1,47,Intermediate Level,1.5 hours,2017-04-26T18:34:57Z,Musical Instruments
3,1116700,#4 Piano Hand Coordination: Fun Piano Runs in ...,True,75,850,3,43,Intermediate Level,1 hour,2017-02-21T23:48:18Z,Musical Instruments
4,1120410,#5 Piano Hand Coordination: Piano Runs in 2 ...,True,75,940,3,32,Intermediate Level,37 mins,2017-02-21T23:44:49Z,Musical Instruments
...,...,...,...,...,...,...,...,...,...,...,...
3677,328960,Your Own Site in 45 Min: The Complete Wordpres...,True,120,1566,29,36,All Levels,4 hours,2015-04-20T22:15:17Z,Web Development
3678,552700,Your Second Course on Piano: Two Handed Playing,True,70,1018,12,22,Beginner Level,5 hours,2015-10-26T20:04:21Z,Musical Instruments
3679,631754,Zend Framework 2: Learn the PHP framework ZF2 ...,True,40,723,130,37,All Levels,6.5 hours,2015-11-11T18:55:45Z,Web Development
3680,1225194,Zoho Books Gestion Financière d'Entreprise pas...,False,Free,229,0,33,All Levels,2 hours,2017-05-26T16:45:55Z,Business Finance
3681,964478,Zombie Apocalypse Photoshop Actions,True,50,12,1,15,All Levels,1.5 hours,2016-09-26T22:19:48Z,Graphic Design

In [6]:
data.head(2)

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,288942,#1 Piano Hand Coordination: Play 10th Ballad i...,True,35,3137,18,68,All Levels,1.5 hours,2014-09-18T05:07:05Z,Musical Instruments
1,1170074,#10 Hand Coordination - Transfer Chord Ballad ...,True,75,1593,1,41,Intermediate Level,1 hour,2017-04-12T19:06:34Z,Musical Instruments

# 1. What are all different subjects for which UDEMY is offering Courses?

In [7]:
# data.subject.unique()

In [8]:
data.subject.unique()

array(['Musical Instruments', 'Business Finance', 'Graphic Design',
       'Web Development'], dtype=object)

# 2. Which subject has the maximum number of courses?

In [9]:
# data.subject.value_counst()

In [10]:
data.head(2)

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,288942,#1 Piano Hand Coordination: Play 10th Ballad i...,True,35,3137,18,68,All Levels,1.5 hours,2014-09-18T05:07:05Z,Musical Instruments
1,1170074,#10 Hand Coordination - Transfer Chord Ballad ...,True,75,1593,1,41,Intermediate Level,1 hour,2017-04-12T19:06:34Z,Musical Instruments

In [11]:
data.subject.value_counts()

Web Development        1200
Business Finance       1199
Musical Instruments     680
Graphic Design          603
Name: subject, dtype: int64

# 3. Show all the courses which are free-of Cost?

In [ ]:
# data[data.is_paid==False]

In [ ]:
data[data.is_paid==False]

In [ ]:
data.is_paid == False

# 4. Show all the courses Which are Paid?

In [ ]:
# data[data.is_paid==True]

In [ ]:
data[data.is_paid==True]

# 5. Which are Top Selling Courses?

In [ ]:
# data.sort_values('num_subscribers',ascending=False)

In [ ]:
data.sort_values('num_subscribers',ascending=False)

# 6. Which are Least Selling Courses?

In [ ]:
# data.sort_values('num_subscribers')

In [ ]:
data.sort_values('num_subscribers')

# 7. Show all Courses of Graphic Design where the price is below 100?

In [ ]:
# data[(data.subject=='Graphic Design') & (data.price<'100')]

In [ ]:
a=data[(data.subject=='Graphic Design') & (data.price<'100')]
a

In [ ]:
data[(data.subject=='Graphic Design') & (data.price<'100')]

In [ ]:
data[(data.subject=='Graphic Design') & (data.price<'100')]

# 8. List out all the courses that are related with Python?

In [ ]:
data.head(2)

In [ ]:
# data[data.course_title.str.contains('Python')]

In [ ]:
data[data.course_title.str.contains('Python')]

In [ ]:
len(data[data.course_title.str.contains('Python')])

# 9. What are courses that are published in year 2015?

In [ ]:
# data.dtypes
# data['published_timestamp']=pd.to_datetime(data.published_timestamp)
# data.dtypes
# data['Year']=data['publisehd_timestamp'].dt.year
# data[data.year==2015]

In [ ]:
data.head(2)

In [ ]:
data.dtypes

In [ ]:
data['published_timestamp']=pd.to_datetime(data.published_timestamp)

In [ ]:
data.dtypes

In [ ]:
data['Year']=data['published_timestamp'].dt.year

In [ ]:
data

In [ ]:
len(data['Year']=data['published_timestamp'].dt.year)

# 10. What are the Max. Number of Subscribers for Each Level of Courses?

In [ ]:
# data.groupby('Level')['num_subscribers'].max()
# data.groupby('Level').max()

In [ ]:
data.head(1)

In [ ]:
data.hist()  # It shows the history of the given data sets which we wants to analysis.

In [ ]:
data.level.unique()

In [ ]:
data.groupby('level')['num_subscribers'].max()

In [ ]:
data.groupby('level')['num_subscribers'].min()