In [1]:
x=lambda x:x*2
y=[43,22,32,12]
c=list(map(x,y))

In [2]:
print(c)

[86, 44, 64, 24]

# Calculate the each length of the each give word in list

In [3]:
l=["She is very beautiful", "She is very hot","She is my dream and my pleasure"]
le=list(map(lambda a:len(a),l))
print(le)

[21, 15, 31]

# Filter Function in Python Jupyter

In [4]:
list(filter(lambda x:x%2==0,[2,4,6,8,12,33,44,223]))

[2, 4, 6, 8, 12, 44]

In [5]:
list(filter(lambda x:x%2!=0,[3,5,7,4,12,33,44,234]))

[3, 5, 7, 33]

In [6]:
tuple(filter(lambda x:x%2==0,[1,23,4,5]))

(4,)

In [8]:
a=list(filter(lambda x:x%2==0, [12,23,24,28,30]))
print(a)

[12, 24, 28, 30]

# Showing the marks that are greater than 50

In [9]:
a=[22,72,79,105,174,50,50.05,5.2,55.55,59,69,79]

list(filter(lambda x:x>40,a))

[72, 79, 105, 174, 50, 50.05, 55.55, 59, 69, 79]

# Showing the items which have character is more than 7

In [11]:
p=["Happy","Burdwanshope","Anandalokeofdash","JohnPeters burg","SUbdhdheudjhf"]

list(filter(lambda a: len(a)>6,p))

['Burdwanshope', 'Anandalokeofdash', 'JohnPeters burg', 'SUbdhdheudjhf']

# Split Function in Python

In [14]:
a="There is some opportinuity wait for you pls don't miss the chances for your better future"
a.split()

['There',
 'is',
 'some',
 'opportinuity',
 'wait',
 'for',
 'you',
 'pls',
 "don't",
 'miss',
 'the',
 'chances',
 'for',
 'your',
 'better',
 'future']

In [15]:
s=a.split()

In [16]:
print(s)

['There', 'is', 'some', 'opportinuity', 'wait', 'for', 'you', 'pls', "don't", 'miss', 'the', 'chances', 'for', 'your', 'better', 'future']

In [17]:
len(s)

16

In [23]:
m="Subhend+this+is+very+fast+chance+to+grow+your+main+focus+on+your+IT+Job+field"

In [27]:
a=m.split('+')

In [28]:
print(a)

['Subhend', 'this', 'is', 'very', 'fast', 'chance', 'to', 'grow', 'your', 'main', 'focus', 'on', 'your', 'IT', 'Job', 'field']

# Max Split Function in Python

In [31]:
d='We are Learning Python for Data-Science'

In [33]:
d.split(' ',1)

['We', 'are Learning Python for Data-Science']

In [34]:
d.split(' ',3)

['We', 'are', 'Learning', 'Python for Data-Science']

# Enemurate function in Python

In [35]:
a=['Mango','Banana','Ornage',"Kiwi",'Jackfruit','Apple','Popi']

In [36]:
type(a)

list

In [37]:
list(enumerate(a))

[(0, 'Mango'),
 (1, 'Banana'),
 (2, 'Ornage'),
 (3, 'Kiwi'),
 (4, 'Jackfruit'),
 (5, 'Apple'),
 (6, 'Popi')]

In [38]:
tuple(enumerate(a))

((0, 'Mango'),
 (1, 'Banana'),
 (2, 'Ornage'),
 (3, 'Kiwi'),
 (4, 'Jackfruit'),
 (5, 'Apple'),
 (6, 'Popi'))

In [39]:
set(enumerate(a))

{(0, 'Mango'),
 (1, 'Banana'),
 (2, 'Ornage'),
 (3, 'Kiwi'),
 (4, 'Jackfruit'),
 (5, 'Apple'),
 (6, 'Popi')}

In [40]:
dict(enumerate(a))

{0: 'Mango',
 1: 'Banana',
 2: 'Ornage',
 3: 'Kiwi',
 4: 'Jackfruit',
 5: 'Apple',
 6: 'Popi'}

# Setting Iterable -List, Tuple, Set, Dictionary & Strings

In [41]:
s={'Mango','Banana','Ornage',"Kiwi",'Jackfruit','Apple','Popi'}

In [42]:
type(s)

set

In [43]:
set(enumerate(s))

{(0, 'Jackfruit'),
 (1, 'Mango'),
 (2, 'Ornage'),
 (3, 'Banana'),
 (4, 'Kiwi'),
 (5, 'Popi'),
 (6, 'Apple')}

In [44]:
list(enumerate(s))

[(0, 'Jackfruit'),
 (1, 'Mango'),
 (2, 'Ornage'),
 (3, 'Banana'),
 (4, 'Kiwi'),
 (5, 'Popi'),
 (6, 'Apple')]

In [45]:
dict(enumerate(s))

{0: 'Jackfruit',
 1: 'Mango',
 2: 'Ornage',
 3: 'Banana',
 4: 'Kiwi',
 5: 'Popi',
 6: 'Apple'}

In [46]:
s=[str(enumerate(s))]

'<enumerate object at 0x0000025FDF95F100>'

In [47]:
print(s)

{'Jackfruit', 'Mango', 'Ornage', 'Banana', 'Kiwi', 'Popi', 'Apple'}

In [48]:
D={101:'APPLE',303:'BANANA',222:'ORANGE',404:'KIWI'}

In [49]:
type(D)

dict

In [50]:
list(enumerate(D))

[(0, 101), (1, 303), (2, 222), (3, 404)]

In [53]:
u='Python is the best programming.'

In [54]:
list(enumerate(u))

[(0, 'P'),
 (1, 'y'),
 (2, 't'),
 (3, 'h'),
 (4, 'o'),
 (5, 'n'),
 (6, ' '),
 (7, 'i'),
 (8, 's'),
 (9, ' '),
 (10, 't'),
 (11, 'h'),
 (12, 'e'),
 (13, ' '),
 (14, 'b'),
 (15, 'e'),
 (16, 's'),
 (17, 't'),
 (18, ' '),
 (19, 'p'),
 (20, 'r'),
 (21, 'o'),
 (22, 'g'),
 (23, 'r'),
 (24, 'a'),
 (25, 'm'),
 (26, 'm'),
 (27, 'i'),
 (28, 'n'),
 (29, 'g'),
 (30, '.')]

# Zip Function in Python

In [62]:
A=[1,2,3,4]
B=['apple','mango','banana','kiwi']

In [63]:
zip(A, B)

In [64]:
list(zip(A,B))

[(1, 'apple'), (2, 'mango'), (3, 'banana'), (4, 'kiwi')]

In [65]:
X=list(zip(A,B))

In [66]:
print(X)

[(1, 'apple'), (2, 'mango'), (3, 'banana'), (4, 'kiwi')]

In [67]:
type(X)

list

In [68]:
tuple(zip(X))

(((1, 'apple'),), ((2, 'mango'),), ((3, 'banana'),), ((4, 'kiwi'),))

In [70]:
a=['Sudu','Mudu','gudu','chudu']
b=['ahsa','basa','kasa','dosa']
c=[1010,1011,1022,1033]

In [71]:
list(zip(a,b,c))  #$here is show three iterable items on the

[('Sudu', 'ahsa', 1010),
 ('Mudu', 'basa', 1011),
 ('gudu', 'kasa', 1022),
 ('chudu', 'dosa', 1033)]

In [72]:
X

[(1, 'apple'), (2, 'mango'), (3, 'banana'), (4, 'kiwi')]

In [73]:
Qty,frt=zip(*X)

In [74]:
print(Qty,frt)

(1, 2, 3, 4) ('apple', 'mango', 'banana', 'kiwi')

In [75]:
t1=('Nexon','Breza','XUV-500','Creata')
t2=('Tata','Maruti','Mahindra','hyundai')

In [76]:
list(zip(t1,t2))

[('Nexon', 'Tata'),
 ('Breza', 'Maruti'),
 ('XUV-500', 'Mahindra'),
 ('Creata', 'hyundai')]

# "def" Function in Python

In [77]:
def div(a,b):
    d=a/b
    return d

In [78]:
div(12,3)

4.0

In [83]:
def mult(a,b,c):
    m=a*b*c
    return m

In [84]:
mult(12,10,10)

1200

In [85]:
# Define a function 'add' to add four number
# Define a funciton with four arguments

In [86]:
def add(a,b,c,d):
    A=a+b+c+d
    return A

In [87]:
add(25,50,50,25)

150

In [89]:
# Define a function that will double the value that we pass

In [90]:
def dou(a):
    return a*a

In [91]:
dou(5)

25

In [92]:
def dou(b):
    a=b*b                #another way to define a function here
    return a

In [93]:
dou(4)

16

In [94]:
# Define a function that will square the value that we pass

In [95]:
def double(d):
    m=d*2
    return m

In [96]:
dou(5)

25

In [97]:
double(6)

12

In [98]:
# Define a function to return the greater values from the two values

In [99]:
def gre(a,b):
    if a>b:
        return a
    else:
        return b

In [100]:
gre(34,55555)

55555

In [101]:
def gre(a,b):
    if a>b:
        return 'a is a big'
    else:
        return 'b is a small'

In [102]:
gre(45,55)

'b is a small'

In [103]:
# Define a function that will return the smallest value among the three

In [117]:
small(3,3,9)

3

# 19. Lambda Function in Python

Lambda function is used to create our own signle-line function in a quick way

Lambda it self a function to define a other short function

There are two type of function like
1. Built-in function (like Print(), unique())

2. User Defined function

In [118]:
# Define a function to add a two numbers

In [119]:
add=lambda x,y:x+y

In [120]:
add(25,75)

100

In [121]:
# Multiply the three number for the given words

In [122]:
mul=lambda x,y,z:x*y*z

In [123]:
mul(12,15,10)

1800

In [124]:
# Define a function to print the given string

In [125]:
string=lambda x:print(x)

In [127]:
x="this is chatboot"

In [128]:
string(x)

this is chatboot

In [129]:
# Define a function to concatenate the two string

In [130]:
con=lambda x,y:print(x+y)

In [133]:
x="Hello am a Subhendu"
y=" am a new Data Analyst in this sector"

In [134]:
con(x,y)

Hello am a Subhendu am a new Data Analyst in this sector

In [135]:
# Double the function with value and its 2 times

In [136]:
double=lambda x:x*2

In [138]:
double(99)

198

# 20. IF-ELIF FUNCTION IN THE PYTHON

In [139]:
value=9
if value>10:
    print("the value is greater than ")
    
else:
    print('the value is less')

the value is less

In [140]:
mark=88
ln="eng"

if(mark>70,ln=='eng'):
    print('You are Eligiable')
elif(mark<75,ln=='eng'):
    print('You have got marks less the desired')
elif(mark>75,ln!='eng'):
    print('You must know the eng')
else:
    print('You are not eligible')
    
input()

You are Eligiable
88

'88'

# FOR LOOP FUNCTION IN PYTHON

In [141]:
for i in[22,12,13,13,14,15,63]:
    print(i)

22
12
13
13
14
15
63

In [142]:
# Using the for loop on a list of numbers

In [144]:
a=[10,11,12,13,14,15,16,17]

for i in a:
    print(a)
    print(i)

[10, 11, 12, 13, 14, 15, 16, 17]
10
[10, 11, 12, 13, 14, 15, 16, 17]
11
[10, 11, 12, 13, 14, 15, 16, 17]
12
[10, 11, 12, 13, 14, 15, 16, 17]
13
[10, 11, 12, 13, 14, 15, 16, 17]
14
[10, 11, 12, 13, 14, 15, 16, 17]
15
[10, 11, 12, 13, 14, 15, 16, 17]
16
[10, 11, 12, 13, 14, 15, 16, 17]
17

In [145]:
# Using the for loop on a list of strings

In [149]:
c=['Delhi','kolkata','Ahmedabed','Gugrat','Panipath']

for i in  c:
    print(i)

Delhi
kolkata
Ahmedabed
Gugrat
Panipath

In [146]:
# Using the for loop on a tuple of string

In [150]:
country=['India','US','Canada','UK']

for cun in country:
    print(cun)

India
US
Canada
UK

In [ ]:
# Using the for loop on a set of strings

In [151]:
country={'India','US','Canada','UK'}

for cun in country:
    print(cun)

US
UK
Canada
India

In [152]:
d="This is my first job in data science"

for s in d:
    print(s)

T
h
i
s

i
s

m
y

f
i
r
s
t

j
o
b

i
n

d
a
t
a

s
c
i
e
n
c
e

In [153]:
# Using the for loop with Range function

In [154]:
for d in range(100):
    print(d)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [155]:
print(d)

99

In [156]:
for x in range(50):
    x=x*3
    print(x)

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99
102
105
108
111
114
117
120
123
126
129
132
135
138
141
144
147

In [157]:
# Verifing the Even OR Odd number from the given list

In [160]:
n=[11,12,13,14,15,16,71,18,91,19,20]

for i in n:
    if i%2==0:
        print(f"{i} is an even number")
    else:
        print(f"{i}is an odd number")

11is an odd number
12 is an even number
13is an odd number
14 is an even number
15is an odd number
16 is an even number
71is an odd number
18 is an even number
91is an odd number
19is an odd number
20 is an even number

# 22. WHILE LOOP IN PYTHON

THE While loop is used to execute a set of statements until a given is satisfied

A while loop repeats a block of code as long as a certain condition is True

In while loop, we use a variable for the increment purpose

In [1]:
# Initialization
# Condition
# Body of loop

Increament to this variable is neceassary otherwise the loop will never stop and it will run forever.

In [5]:
i=0
while i<10:
    print(i)
    i=i+1 #conditon is after the print comment so start "0"

0
1
2
3
4
5
6
7
8
9

In [7]:
i=0
while i<10:
    i=i+1
    print(i) # Here condition is before print option so loop will start from "1"

1
2
3
4
5
6
7
8
9
10

In [8]:
# If we don't give the increment to the variable
# Then the loop will run for "infinite times"

In [10]:
i=1
while i<3:
    print(i) # loop will go to infinite times
    #i=i+1

1
2

In [11]:
# While Loop example 3

In [12]:
i=10

while i>=5:
    print(i)
    i=i-1
print('The Loop Is End')

10
9
8
7
6
5
The Loop Is End

In [13]:
# While loop example 4

In [16]:
a=0
while a<5:
    print(a)
    a=a+1
    print('The Loop is end here')

0
The Loop is end here
1
The Loop is end here
2
The Loop is end here
3
The Loop is end here
4
The Loop is end here

In [17]:
# While loop example 5

In [18]:
x=1
while x<10:
    print(x+10) # The value of x will not change, it will only add 10 on x
    x=x+1

11
12
13
14
15
16
17
18
19

example 6

In [19]:
a=1

while a<=50:
    a=a+3
    print(a+3)
    a=a+3

7
13
19
25
31
37
43
49
55

# 23. Break Statement in Python

A Break statement is a loop control statement which can be used in For Loop and While Loop both

USE: We use the Break Statement when there is a need to stop the loop at a given condition

In [20]:
# Use break statemen in for loop

In [21]:
data=['Data','Bug','sort','putin','python','java']

for a in data:
    print(a)

Data
Bug
sort
putin
python
java

In [26]:
data=['Data','Bug','sort','putin','python','java']

for a in data:
    print(a)
    if a=='sort':
        break

Data
Bug
sort

In [28]:
data=['Data','Bug','sort','putin','python','java']

for a in data:
  
    if a=='sort':  # print before the sort comment
        break
    print(a)

Data
Bug

# B. Break statement in while loop

With the break statement (in while loop), we can stop the loop even if the while condition is True.

In [29]:
i=1

while i<5:
    print(i)
    i=i+1

1
2
3
4

In [30]:
# example 1

x=1

while x<5:
    print(x)
    if x==3:
        break
    x=x+1

1
2
3

In [41]:
x=1

while x<5:
        if x==3:
            break  # break for the loop and show the result
        print(x)
        x=x+1

1
2

# 23. Continue Statement

With the help of continue statement, we can stop the current iteration of the loop, and continue with the next iteration

The loop doesn't stop but continues with the next iteration

In [42]:
data=['Data','Bug','sort','putin','python','java']

for a in data:
    print(a)

Data
Bug
sort
putin
python
java

In [43]:
data=['Data','Bug','sort','putin','python','java']

for i in data:
    if i=='sort':
        continue
    print(i)

Data
Bug
putin
python
java

Note: the continue statement should be used before Print(), otherwise it will not in for loop.

In [44]:
data=['Data','Bug','sort','putin','python','java']

for i in data:
    print(i)  # print option is before in continue so it is not work..
    if i=='sort':
        continue

Data
Bug
sort
putin
python
java

# B. Continue statement in while loop

we don't want to print 4 in loop

In [45]:
i=0

while i<6:
    i=i+1
    if i==4:
        continue
    print(i)

1
2
3
5
6

In [46]:
# Example 2
i=0

while i<6:
    i=i+1
    print(i) # not work due to print option is used before "continue" statement
    if i==4:
        continue

1
2
3
4
5
6

# Created By>>>>>>>>>>>>>>>>>>Subhendu<<<<<<<<<<<<<<<<